<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="data:,">

    <link href="static/styleQuiz.css" rel="stylesheet"/>
    
    
    <title>excercise!</title>
  </head>
  <body>
    <header>
      <h1>Füll die Lücken!</h1>
      <p class="between">(Bears)</p>
      
      <button class="btn again" id="C">Start!</button>
      <select name="" id="excerciseName">


      </select>
      
      
    </header>
    <main>
      <img class="questionPhoto" alt="">
      
      <div>
        <img src="static\img\checkMark.png" style="float: right;" class="checkMark">  
        <img src="static\img\wrongMark.png" style="float: right;" class="wrongMark"> 
        <div class="sentence"></div>
      </div> 

      

      

     
          
          
      
    
      
      <button class="check" id="B">check!</button>
    
    </main>
    
    
    <script src="static/script_Quiz.js"></script>
    
  </body>
</html>

